@using CSRMGMT.Models
@model LinksInfo
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        $(document).ready(function() {
            $('form').on('change', 'input[type=checkbox]', function() {
                var isChecked = $(this).is(':checked');
                var employeeNameField = $('input[name="ExURL"]');

                if (isChecked) {
                    employeeNameField.attr('required', 'required');
                } else {
                    employeeNameField.removeAttr('required');
                }
            });
            NioApp.Toast('This is a note for top full width toast message.', 'info', {
                position: 'top-full'
        });
    </script>
}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Add New Page</h3>
                            <p>Enter the details to create a new page.</p>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card">
                        <div class="card-inner">
                            @* <h5 class="card-title">Add New Page</h5> *@
                            
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <form asp-action="Editpage" asp-controller="Cms" class="gy-3 form-settings">
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Page Section</label>
                                            <span class="form-note">Specify the name of section in website.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @* <select asp-for="sLinkTypeID" asp-items="@(new SelectList(items, "Value", "Text"))"></select> *@
                                                <select id="ddLinkTypes" class="form-control" asp-for="sLinkTypeID" asp-items="@(new SelectList(ViewBag.LtList,"Value","Text"))"></select>
                                                <span asp-validation-for="sLinkTypeID" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Page Title</label>
                                            <span class="form-note">Specify the name of your page.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" asp-for="sLinkName" class="form-control" id="site-name" placeholder="Page Title">
                                                <span asp-validation-for="sLinkName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-email">In Page</label>
                                            <span class="form-note">Specify the parent for the page if it's a sub page'.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <select id="ddLinksInfo" class="form-control" asp-for="ParentLinkID" asp-items="@(new SelectList(ViewBag.LinkList,"Value","Text"))"></select>
                                                <span asp-validation-for="ParentLinkID" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-copyright">Page Content</label>
                                            <span class="form-note">Specify the page contents from here.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <textarea id="editor1" class="form-control ckeditor" asp-for="LinkContents" ></textarea>
                                                <span asp-validation-for="LinkContents" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label">External URL</label>
                                            <span class="form-note">Specify the URL if your main website is external.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1" asp-for="UseURL">
                                            <label class="custom-control-label" for="customCheck1">Has External Url?</label>
                                            <span asp-validation-for="UseURL" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">

                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" asp-for="ExURL" id="exurl" placeholder="External URL">
                                                <span asp-validation-for="ExURL" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="chkInNewWindow" asp-for="InNewWindow">
                                            <label class="custom-control-label" for="chkInNewWindow">New window?</label>
                                            <span asp-validation-for="InNewWindow" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Window Title</label>
                                            <span class="form-note">Specify the window title.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" asp-for="WindowTitle" class="form-control" id="site-name" placeholder="Window Title">
                                                <span asp-validation-for="WindowTitle" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Meta Keywords</label>
                                            <span class="form-note">Specify the meta keywords of page.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" asp-for="MetaKeywords" class="form-control" id="site-name" placeholder="Meta Keywords">
                                                <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-name">Meta Description</label>
                                            <span class="form-note">Specify the meta description of page.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <input type="text" asp-for="MetaDescription" class="form-control" id="site-name" placeholder="Meta Description">
                                                <span asp-validation-for="MetaDescription" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 align-center">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="form-label" for="site-off">Status</label>
                                            <span class="form-note">Specify the page status from here.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="chkIsActive" asp-for="IsLinkActive">
                                                <label class="custom-control-label" for="chkIsActive">Is Active</label>
                                                <span asp-validation-for="IsLinkActive" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-lg-7 offset-lg-5">
                                        <div class="form-group mt-2">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- .card-inner -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>

