@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}
<div class="nk-block nk-block-lg">
    <div class="nk-block nk-block-lg">
        @* <div class="card card-bordered card-preview">
            <img src="~/assets/images/dashbord-d-image.jpg" />
        </div> *@
    </div>
</div>
